body {
  color: #e0e0e0;
  background-color: #202020;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inlined {
  display: inline-block;
  vertical-align: top;
  padding: 1em;
}